
<table>
    <thead>
    <tr>
        <div id="room">
        <form action="" id="addComment">
            <th><input type="text" name="title" class="form-control" autofocus placeholder="Комментарий..."/></th>
            <th><input type="submit" class="btn btn-default" value="Send"/></th>
        </form>
        <td><p id="toggle-comments" class="btn btn-default">Comments: <%= comments.length %></p></td>
        </div>
    </tr>

    </thead>
    <tbody>
    <% comments.forEach(function(comment) { %>
    <tr>
        <td>
            <ul class="list-inline">
                <li><a href="/profile/<%= comment.author %>" class="btn btn-primary btn-xs"><%= comment.author.username %></a></li>
                <li><span class="label label-info"><%= comment.created.toDateString()%>, <%= comment.created.getHours()%>:<%= comment.created.getMinutes()%></span></li>
            </ul>
            <p><%= comment.title %></p>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>

<script>
    (function($) {
        $("form#addComment").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            $('.error', form).html('');
            $(":submit", form).button("loading");
            $.ajax({
                url: "/posts/<%= post._id %>/comment",
                method: "POST",
                data: form.serialize(),
                complete: function() {
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function() {
                        form.html("Изменения сохранены").addClass('alert-success');
                        window.location.href = "/posts/<%= post._id %>";
                    },
                    403: function(jqXHR) {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', form).html(error.message);
                    }
                }
            });
            return false;
        });
    })(jQuery);
    $(document).ready(function(){
        $("tbody").hide();
        $("#toggle-comments").click(function(){
            $("tbody").toggle();
        });
    });
</script>
